body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Trirong";
}

.ontainer {
  height: 100vh;
  background-image: url("kid4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
}

.titlu {
  font-size: 3rem;
  font-family: "Trirong";
  color: rgb(0, 26, 255);
  padding: 10px;
  text-shadow: 2px 7px 15px rgb(255, 255, 255);
}

#google_translate_element {
  width: 200px;
}

@media screen and (max-width: 600px) {
  .titlu {
    font-size: 2.5rem;
    text-align: center;
  }
}
